canvas.pong {
    padding-left: 100; 
    padding-right: 10; 
    margin-left: auto; 
    margin-right: auto; 
    display: block; 
}


#updownIndicator {
    width: 50%;
    margin: 0px auto;
}




/*The following is required to make a DIV fill screen in IE 9...*/  
/*give the body height:100% so that its child    elements can have percentage heights*/  
body{ height:100% }  /*this is what we want the div to look like*/  

div.fullscreen{    display:block;    /*set the div in the top-left corner of the screen*/    
	position:absolute;    
	top:0;    
	left:0;        
	width:100%;    
	height:100%;  
}

        #millionaireLeft {
            position: absolute;
            left: 0;
            width: 150px;
        }
        #millionaireRight {
            position: absolute;
            right: 0;
            width: 150px;
        }
        #millionaireMiddle {
            margin: 0 150px 0 150px;
            background-color :Black;
            font-family: Arial;
            font-size: xx-large;
            color: #FFFFFF;
        }



/*millionaire styles for index.html*/
 #millButton
            {
                width: 73px;
                height: 37px;
            }
            
#millcontainer {
    display: table;
    width: 500px; 
    vertical-align: middle; 
    text-align: center; 
    }

  #millrow  {
    display: table-row;

    }

  #millleft, #millright {
    display: table-cell;
    }